.contenedor {
    background-color: rgb(235, 212, 148);
  }
  .cont {
    display: flex;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(37, 36, 36);
  }
  .imagen-derecha {
    float: right;
    margin: 0 0 10px 10px;
  }
  